[submodule ".registry"]
	path = .registry
	url = https://github.com/emodnet/emodnet.r-universe.dev
	branch = HEAD
[submodule "emodnet.wcs"]
	path = emodnet.wcs
	url = https://github.com/EMODnet/emodnet.wcs
[submodule "emodnet.wfs"]
	path = emodnet.wfs
	url = https://github.com/EMODnet/emodnet.wfs
[submodule "ows4R"]
	path = ows4R
	url = https://github.com/eblondel/ows4R
	registered = false
[submodule "vcr"]
	path = vcr
	url = https://github.com/ropensci/vcr
	registered = false
