[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "emodnet.wfs"]
	path = emodnet.wfs
	url = https://github.com/emodnet/emodnet.wfs
